<a href="https://colab.research.google.com/github/guilpassos/Fuctura_Data_Science/blob/main/Fuctura_Python3_Aula03_parte02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-talk') #Um estilo pronto para criar um gr√°fico

In [26]:
#carregando o dataset
dados = pd.read_csv('/content/Dados-Pesquisa.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [27]:
#imprimir cabecalho
dados.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [28]:
dados.shape

(15620, 113)

In [29]:
dados.columns.to_list()

['Age',
 'AttendedBootcamp',
 'BootcampFinish',
 'BootcampFullJobAfter',
 'BootcampLoanYesNo',
 'BootcampMonthsAgo',
 'BootcampName',
 'BootcampPostSalary',
 'BootcampRecommend',
 'ChildrenNumber',
 'CityPopulation',
 'CodeEventBootcamp',
 'CodeEventCoffee',
 'CodeEventConferences',
 'CodeEventDjangoGirls',
 'CodeEventGameJam',
 'CodeEventGirlDev',
 'CodeEventHackathons',
 'CodeEventMeetup',
 'CodeEventNodeSchool',
 'CodeEventNone',
 'CodeEventOther',
 'CodeEventRailsBridge',
 'CodeEventRailsGirls',
 'CodeEventStartUpWknd',
 'CodeEventWomenCode',
 'CodeEventWorkshop',
 'CommuteTime',
 'CountryCitizen',
 'CountryLive',
 'EmploymentField',
 'EmploymentFieldOther',
 'EmploymentStatus',
 'EmploymentStatusOther',
 'ExpectedEarning',
 'FinanciallySupporting',
 'Gender',
 'HasChildren',
 'HasDebt',
 'HasFinancialDependents',
 'HasHighSpdInternet',
 'HasHomeMortgage',
 'HasServedInMilitary',
 'HasStudentDebt',
 'HomeMortgageOwe',
 'HoursLearning',
 'ID.x',
 'ID.y',
 'Income',
 'IsEthnicMinority',
 'IsReceiveDiabilitiesBenefits',
 'IsSoftwareDev',
 'IsUnderEmployed',
 'JobApplyWhen',
 'JobPref',
 'JobRelocateYesNo',
 'JobRoleInterest',
 'JobRoleInterestOther',
 'JobWherePref',
 'LanguageAtHome',
 'MaritalStatus',
 'MoneyForLearning',
 'MonthsProgramming',
 'NetworkID',
 'Part1EndTime',
 'Part1StartTime',
 'Part2EndTime',
 'Part2StartTime',
 'PodcastChangeLog',
 'PodcastCodeNewbie',
 'PodcastCodingBlocks',
 'PodcastDeveloperTea',
 'PodcastDotNetRocks',
 'PodcastHanselminutes',
 'PodcastJSJabber',
 'PodcastJsAir',
 'PodcastNone',
 'PodcastOther',
 'PodcastProgrammingThrowDown',
 'PodcastRubyRogues',
 'PodcastSEDaily',
 'PodcastShopTalk',
 'PodcastTalkPython',
 'PodcastWebAhead',
 'ResourceBlogs',
 'ResourceBooks',
 'ResourceCodeWars',
 'ResourceCodecademy',
 'ResourceCoursera',
 'ResourceDevTips',
 'ResourceEdX',
 'ResourceEggHead',
 'ResourceFCC',
 'ResourceGoogle',
 'ResourceHackerRank',
 'ResourceKhanAcademy',
 'ResourceLynda',
 'ResourceMDN',
 'ResourceOdinProj',
 'ResourceOther',
 'ResourcePluralSight',
 'ResourceReddit',
 'ResourceSkillCrush',
 'ResourceSoloLearn',
 'ResourceStackOverflow',
 'ResourceTreehouse',
 'ResourceUdacity',
 'ResourceUdemy',
 'ResourceW3Schools',
 'ResourceYouTube',
 'SchoolDegree',
 'SchoolMajor',
 'StudentDebtOwe']

In [30]:
df2 = dados.copy()

In [31]:
dados.isna().sum()

Age                      2007
AttendedBootcamp          240
BootcampFinish          14687
BootcampFullJobAfter    14985
BootcampLoanYesNo       14686
                        ...
ResourceW3Schools       15499
ResourceYouTube         15499
SchoolDegree             1941
SchoolMajor              7170
StudentDebtOwe          12106
Length: 113, dtype: int64

In [32]:
dados.isna().sum().sum()

1183948

In [33]:
dados.dropna(subset = ['Age'], inplace=True)

In [34]:
dados.isna().sum()

Age                         0
AttendedBootcamp          112
BootcampFinish          12809
BootcampFullJobAfter    13068
BootcampLoanYesNo       12805
                        ...
ResourceW3Schools       13508
ResourceYouTube         13506
SchoolDegree              113
SchoolMajor              5265
StudentDebtOwe          10121
Length: 113, dtype: int64

In [35]:
dados.isna().sum().sum()

994850

In [36]:
dados.isna().mean()

Age                     0.000000
AttendedBootcamp        0.008227
BootcampFinish          0.940939
BootcampFullJobAfter    0.959965
BootcampLoanYesNo       0.940645
                          ...
ResourceW3Schools       0.992287
ResourceYouTube         0.992140
SchoolDegree            0.008301
SchoolMajor             0.386763
StudentDebtOwe          0.743480
Length: 113, dtype: float64

In [37]:
print(f'A base de dados apresenta {dados.shape[0]} linhas e {dados.shape[1]} colunas')

A base de dados apresenta 13613 linhas e 113 colunas

In [38]:
dados.dtypes.value_counts()

float64    85
object     28
dtype: int64

In [39]:
#Criando um novo novo Data Frame apenas com as colunas que queremos:
dados = dados[['Age', 'Gender', 'JobPref', 'JobRoleInterest',
               'EmploymentField', 'JobRelocateYesNo', 
               'HoursLearning', 'MoneyForLearning', 'AttendedBootcamp']]
dados

,Age,Gender,JobPref,JobRoleInterest,EmploymentField,JobRelocateYesNo,HoursLearning,MoneyForLearning,AttendedBootcamp
0,28.0,male,freelance,NaN,office and administrative support,NaN,30.0,0.0,0.0
1,22.0,male,work for a startup,Front-End Web Developer,food and beverage,1.0,30.0,20.0,0.0
2,19.0,male,start your own business,NaN,finance,NaN,20.0,50.0,0.0
3,26.0,female,work for a startup,Front-End Web Developer,"arts, entertainment, sports, or media",NaN,20.0,100.0,0.0
4,20.0,female,work for a medium-sized company,Full-Stack Web Developer,education,1.0,25.0,1300.0,0.0
...,...,...,...,...,...,...,...,...,...
15615,39.0,male,start your own business,NaN,software development and IT,NaN,40.0,0.0,0.0
15616,27.0,male,work for a startup,Front-End Web Developer,software development and IT,1.0,15.0,100.0,0.0
15617,37.0,male,freelance,NaN,NaN,NaN,14.0,0.0,0.0
15618,26.0,male,NaN,NaN,education,NaN,10.0,30.0,0.0
15619,22.0,female,freelance,NaN,"arts, entertainment, sports, or media",NaN,2.0,0.0,0.0

In [40]:
dados = dados.drop_duplicates()

In [41]:
dados.shape

(12298, 9)

In [43]:
#Vamos ver um resumo estat√≠stico do Dataset
dados.describe()

,Age,JobRelocateYesNo,HoursLearning,MoneyForLearning,AttendedBootcamp
count,12298.000000,4676.000000,11867.000000,11703.000000,12188.000000
mean,29.583591,0.733105,15.710879,1194.739298,0.066623
std,9.201894,0.442384,14.534304,4993.542304,0.249378
min,10.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,0.000000,5.000000,0.000000,0.000000
50%,28.000000,1.000000,10.000000,50.000000,0.000000
75%,34.000000,1.000000,20.000000,400.000000,0.000000
max,86.000000,1.000000,100.000000,180000.000000,1.000000

In [44]:
dados.describe(include = 'O')

,Gender,JobPref,JobRoleInterest,EmploymentField
count,12258,9332,5559,6732
unique,5,5,9,15
top,male,work for a medium-sized company,Full-Stack Web Developer,software development and IT
freq,9414,2846,2216,3522

In [45]:
#usando o loc
dados.loc[dados['Age'] > 30]

,Age,Gender,JobPref,JobRoleInterest,EmploymentField,JobRelocateYesNo,HoursLearning,MoneyForLearning,AttendedBootcamp
5,34.0,male,start your own business,NaN,finance,NaN,5.0,0.0,0.0
7,35.0,male,freelance,NaN,office and administrative support,NaN,NaN,0.0,0.0
8,33.0,male,NaN,NaN,software development,NaN,5.0,3000.0,0.0
9,33.0,male,start your own business,NaN,NaN,NaN,20.0,30.0,0.0
10,57.0,male,freelance,NaN,NaN,NaN,8.0,400.0,0.0
...,...,...,...,...,...,...,...,...,...
15611,37.0,male,start your own business,NaN,software development and IT,NaN,40.0,200.0,0.0
15612,45.0,female,start your own business,NaN,NaN,NaN,2.0,300.0,0.0
15614,47.0,male,freelance,NaN,finance,NaN,3.0,0.0,0.0
15615,39.0,male,start your own business,NaN,software development and IT,NaN,40.0,0.0,0.0
15617,37.0,male,freelance,NaN,NaN,NaN,14.0,0.0,0.0