In [3]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series([1, 2, -5, 0])
s1

0    1
1    2
2   -5
3    0
dtype: int64

In [ ]:
s1.values

array([ 1,  2, -5,  0])

In [ ]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
s2 = pd.Series([1, 2, -5, 0], index=['a', 'b', 'c', 'd'])
s2

a    1
b    2
c   -5
d    0
dtype: int64

In [ ]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
s2['a'] = 1000
s2

a    1000
b       2
c      -5
d       0
dtype: int64

In [ ]:
#comparacao
s2[s2>0]

a    1000
b       2
dtype: int64

In [ ]:
#Ã¡lgebra
s2 * 2

a    2000
b       4
c     -10
d       0
dtype: int64

In [ ]:
s2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

In [4]:
dados = {'estado':['SP', 'MG', 'PR', 'SP', 'MG', 'PR'], 'ano':[2019, 2019, 2019, 2020, 2020, 2020], 'pop':[45.9, 21.2, 16.9, 46.6, 21.4, 17.3]}
df1=pd.DataFrame(dados)

In [5]:
df1

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2
2     PR  2019  16.9
3     SP  2020  46.6
4     MG  2020  21.4
5     PR  2020  17.3

In [6]:
df1.head(2)

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2

In [7]:
df1.tail(2)

  estado   ano   pop
4     MG  2020  21.4
5     PR  2020  17.3

In [8]:
df1.sample(2)

  estado   ano   pop
0     SP  2019  45.9
2     PR  2019  16.9

In [9]:
#Novo DF a partir do anterior (veja as colunas)
df2 = pd.DataFrame(dados, columns=['ano', 'estado', 'pop'])
df2

    ano estado   pop
0  2019     SP  45.9
1  2019     MG  21.2
2  2019     PR  16.9
3  2020     SP  46.6
4  2020     MG  21.4
5  2020     PR  17.3

In [10]:
df1

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2
2     PR  2019  16.9
3     SP  2020  46.6
4     MG  2020  21.4
5     PR  2020  17.3

In [11]:
df2['estado']

0    SP
1    MG
2    PR
3    SP
4    MG
5    PR
Name: estado, dtype: object

In [12]:
df2.ano

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [14]:
df2.dtypes

ano         int64
estado     object
pop       float64
dtype: object

In [17]:
df2['estimativa']=50
df2

    ano estado   pop  estimativa
0  2019     SP  45.9          50
1  2019     MG  21.2          50
2  2019     PR  16.9          50
3  2020     SP  46.6          50
4  2020     MG  21.4          50
5  2020     PR  17.3          50

In [18]:
df2['estimativa']=np.arange(6)
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [19]:
df3 = df2
df3

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [20]:
df3=df2['ano']
df3

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [21]:
df2['Nao ParanÃ¡']=df2.estado!='PR'
df2

    ano estado   pop  estimativa  Nao ParanÃ¡
0  2019     SP  45.9           0        True
1  2019     MG  21.2           1        True
2  2019     PR  16.9           2       False
3  2020     SP  46.6           3        True
4  2020     MG  21.4           4        True
5  2020     PR  17.3           5       False

In [22]:
#excluir coluna
del df2['Nao ParanÃ¡']

In [23]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [24]:
#Entender o DataFrame
df2.shape

(6, 4)

In [25]:
df2.shape[0]

6

In [26]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [27]:
df2.columns

Index(['ano', 'estado', 'pop', 'estimativa'], dtype='object')

In [28]:
df2.count()

ano           6
estado        6
pop           6
estimativa    6
dtype: int64

In [29]:
#Alterar informacao das colunas
df2.columns=['Ano', 'estado', 'Populacao', 'estimativa']
df2

    Ano estado  Populacao  estimativa
0  2019     SP       45.9           0
1  2019     MG       21.2           1
2  2019     PR       16.9           2
3  2020     SP       46.6           3
4  2020     MG       21.4           4
5  2020     PR       17.3           5

In [30]:
df2.describe(include='all')

                Ano estado  Populacao  estimativa
count      6.000000      6   6.000000    6.000000
unique          NaN      3        NaN         NaN
top             NaN     SP        NaN         NaN
freq            NaN      2        NaN         NaN
mean    2019.500000    NaN  28.216667    2.500000
std        0.547723    NaN  14.096725    1.870829
min     2019.000000    NaN  16.900000    0.000000
25%     2019.000000    NaN  18.275000    1.250000
50%     2019.500000    NaN  21.300000    2.500000
75%     2020.000000    NaN  39.775000    3.750000
max     2020.000000    NaN  46.600000    5.000000

In [31]:
df2['Ano']=df2['Ano']+2
df2

    Ano estado  Populacao  estimativa
0  2021     SP       45.9           0
1  2021     MG       21.2           1
2  2021     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [32]:
df2[df2['Ano']>2021]

    Ano estado  Populacao  estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [33]:
df4=df2[df2['Ano']>2021]

In [34]:
df4

    Ano estado  Populacao  estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [35]:
#excluir colunas
df4.drop('Ano', axis='columns')

  estado  Populacao  estimativa
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [36]:
df2

    Ano estado  Populacao  estimativa
0  2021     SP       45.9           0
1  2021     MG       21.2           1
2  2021     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [37]:
df4

    Ano estado  Populacao  estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [38]:
#inplace serve para exclusao permanente da tabela
df2.drop('Ano', axis='columns', inplace=True)
df2

  estado  Populacao  estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [40]:
#exluir linhas
df2.drop([0, 1])

  estado  Populacao  estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [41]:
df2

  estado  Populacao  estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [42]:
dflinhas=df2

In [43]:
dflinhas.drop([0, 1], inplace=True)
dflinhas

  estado  Populacao  estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [44]:
df2

  estado  Populacao  estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [45]:
df2.iloc[0]

estado          PR
Populacao     16.9
estimativa       2
Name: 2, dtype: object

In [46]:
df2.iloc[1:3]

  estado  Populacao  estimativa
3     SP       46.6           3
4     MG       21.4           4

In [47]:
df2.iloc[1:3, [1, 2]]

   Populacao  estimativa
3       46.6           3
4       21.4           4

In [48]:
df2

  estado  Populacao  estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5